@import './post.css';
@import './landing.css';
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(143, 142, 142);
}

a {
  text-decoration: none;
}





